<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Difficulty</title>
    <link rel="stylesheet" href="/styles/difficulty_chooser.css">
    <link rel="shortcut icon" type="image/png" href='media/musiq.png'>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  </head>
  <body>
    <h1 class='neon-text'>MusiQ</h1>
    <link async href="http://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <h1 class='button'>Choose Your Difficulty Level</h1>
    <link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <table style="width:100%">
      <tr>
        <th id='easy'>easy</th>
        <th id='medium'>medium</th>
        <th id='hard'>hard</th>
      </tr>
    </table>
  </body>
</html>
