<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>End Game</title>
    <link rel="stylesheet" href="/styles/end_game.css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href='media/musiq.png'>
      <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"/>
  </head>
  <body>
  <div id='background_image'>
    <h1 class='neon-text'>MusiQ</h1>
    <link async href="http://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <h1 id='good'>Good Game!</h1>
    <!-- <h3>Results</h3> -->
    <h4 id='leader'>Leader Boards</h4>
    <table id='table' style="width:20%">
      {% for user in highscores %}
      <tr>
       <td>{{user[0]}}</td>
       <td>{{user[1]}}</td>
      <tr>
      {% endfor %}
    </table>
    <form id='play' method="get" action="/genre-chooser">
       <button type="Submit">Play Again!</button>
    </form>
  </div>
  </body>
</html>
