<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>End Game</title>
    <link rel="stylesheet" href="/styles/end_game.css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href='media/musiq.png'>
      <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"/>
  </head>
  <body>
  <div id='background_image'>
    <h1 class='neon-text'>MusiQ</h1>
    <link async href="https://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <h1 id='good'>Your Score is {{ score }}</h1>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ musIQ }}" aria-valuemin="0" aria-valuemax="200" style="width:{{musIQPercentage}}%">
      </div>
    </div>
    <h4 id="MusIQ">Your MusIQ is {{ musIQ }} out of 200</h4>
    <!-- <h3>Results</h3> -->
    <h4 id='leader'>Leader Boards</h4>
    <table id='table' style="width:20%" align='center'>
      {% for user in highscores %}
      <tr>
       <td>{{user[0]}}</td>
       <td>{{user[1]}}</td>
      <tr>
      {% endfor %}
    </table>
    <form id='play' method="get" action="/genre-chooser">
       <button type="Submit">Play Again!</button>
    </form>
    <form id='return' method="get" action="/profile">
       <button type="Submit">Return to your Profile!</button>
    </form>
  </div>
  </body>
</html>
