<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>End Game</title>
  <link rel="stylesheet" href="/styles/end_game.css">
  </head>
  <body>
  <div id='background_image'>
    <h1 class='neon-text'>MusiQ</h1>
    <link async href="http://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <h1 id='good'>Good Game!</h1>
    <!-- <h3>Results</h3> -->
    <h4 id='leader'>Leader Board</h4>
    <h5 id='play'>Play Again!</h5>
  </div>
  </body>
</html>
