<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="shortcut icon" type="image/png" href='media/musiq.png'>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"/>
  </head>
  <body>
    <h1 id='neon-text'>MusiQ</h1>
    <h3 id='question-right' id='neon-text'></h3>
    <link async href="https://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <h2 id="genre">{{ genre }}</h2>
    <p id="timer">Ready?</p>
    <h4 id='question-right'></h4>
    <h5 id='question'>Who sang "{{ title }}" <br> on the album "{{ album }}"?</h5>
    <link async href="https://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <div id="wrapper">
      <input id="answer" oninput="check()"></input>
    </div>
    <h4 id='button'>Exit</h4>
    <script src="/scripts/game.js"></script>
    <p id='artist'>{{ artist }}</p>
  </body>
</html>
