<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>genre-chooser</title>
    <link rel="stylesheet" href="/styles/genre_chooser.css">
  </head>
  <body>
    <h3>Choose Your Genre</h3>
    <table style="width:100%">
  <p>
  <tr>
    <th>Classic</th>
    <th>80's and 90's</th>
    <th>K-Pop</th>
  </tr>
  </p>
  <p>
  <tr>
    <th>Rock</th>
    <th>Jazz</th>
    <th>Rap</th>
  </tr>
  </p>
  <p>
  <tr>
    <th>Country</th>
    <th>Pop</th>
    <th>EDM</th>
  </tr>
  </p>
</table>
  </body>
</html>
