<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MusiQ Login</title>
    <link href="/styles/google_login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href='media/musiq.png'>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"/>
  </head>
  <body>
    <div id="background_image">
      <h1 class="neon-text">MusiQ</h1>
      <link async href="https://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
      <h2 class="sub-text">test your musical intelligence</h2>
      <link async href="https://fonts.googleapis.com/css?family=Atomic%20Age" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
      <h2><a id="login_link" href="{{ login_url }}">Sign in</a></h2>
    </div>
  </body>
</html>
