<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile</title>
    <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
  </head>
  <body>
    <h1>NAME FOR PROFILE</h1>
   <img href = "#" alt="image profile picture">
   <p>HIGHSCORE</p>
   <ol>
     <li>Ranking</li>
     <li>Of<li>
     <li>Friends</li>
   </ol>
   <p>^ Do not forget to include player in list ^</p>
   <p>Tentative Additional Features</p>
   <p>Time spent playing</p>
   <p>Amount of coins</p>
   <button>Play</button>

     <a class="user_info_content" href="{{sign_out}}">Sign out</a>
 </body>
 </html>
