<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
  </head>
  <body>
    <h1>MusiQ</h1>
    <h3>{{ username }}</h3>
    <h3><img src="media/musiq.png" alt="" height ="40"> {{QCoins}} </h3>
   <p>HIGHSCORE</p>
   <table style="width:20%">
     {% for user in highscores %}
     <tr>
      <td>{{user[0]}}</td>
      <td>{{user[1]}}</td>
     <tr>
     {% endfor %}
   </table>
   <p>Welcome back {{ user_name }}.  Are you ready to test your musical intellect?</p>
<form method="get" action="/genre-chooser">
   <button type="Submit">Play</button>
</form>

     <a class="user_info_content" href="{{sign_out}}">Sign out</a>
 </body>
 </html>
