body {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: url("/media/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Play', sans-serif;
  text-shadow: 4px 4px black;
  grid-gap: 20px;

}

.progress, .progress-bar {
  grid-column: 2;
  grid-row: 2;
  height: 10px;

  width: 450px;
  margin-bottom: 0;
  border: 0;
  padding: 0;
  box-shadow: 2px;
}

table td{
  border: 2px solid blue;
  font-size: 20px;
  text-shadow: 1px 1px black;
  background: rgba(255, 255, 255, 0.6);
}

#username {
  grid-column: 1;
  grid-row: 2;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.6);
  color: white;
  font-family: 'Play', sans-serif;
  text-shadow: 4px 4px black;
  margin-left: 20px;
  


}
 #pic {
   grid-column: 3;
   grid-row: 2;
   font-size: 30px;
 }

 #highscores {
   grid-column: 1;
   grid-row: 3;
   font-size: 30px;
   background: rgba(255, 255, 255, 0.6);
   color: white;
   font-family: 'Play', sans-serif;
   text-shadow: 4px 4px black;
   margin-left: 20px;

 }

 #table {
   grid-column: 1;
   grid-row: 4;
   color: white;
   font-family: 'Play', sans-serif;
   text-shadow: 4px 4px black;
   margin-left: 20px;


 }

 #welcome {
   grid-column: 2;
   grid-row: 3 / span 5;
   background: rgba(255, 255, 255, 0.6);
   font-size: 30px;
   font-weight: bold;
   text-shadow: none;
   color: black;
   font-family: 'Play', sans-serif;
   text-shadow: 1px 1px white;
   margin-bottom: 200px;
 }

 #play {
   grid-column: 2;
   grid-row: 5;
   color: black;
   font-family: 'Play', sans-serif;
   text-shadow: 4px 4px white;
 }

 #friends {
   grid-column: 3;
   grid-row: 3 / span 6;
   background: rgba(255, 255, 255, 0.6);
   color: white;
   font-family: 'Play', sans-serif;
   text-shadow: 4px 4px black;
   margin-right: 20px;
   margin-bottom: 20px;
}

 #sign_out {
   grid-column: 2;
   grid-row: 8;
   font-size: 30px;
   color: white;
   background: rgba(255, 255, 255, 0.6);
   border-style: inset;
   border-color: blue white;
   font-family: 'Play', sans-serif;
   margin: -10px 140px -10px 140px;
   text-shadow: 2px 3px blue;
   margin-bottom: 20px;

 }

 #sign_out:hover {
   color: black;

 }

.neon-text {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal bold 100px/normal "Atomic Age", Helvetica, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 5px 1px rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}
